/* Framework Imports */

@import "bourbon";
@import "bourbon", "neat";

/* Colour Vars */
$dark-brown: #2C2626;
$dark-grey: #575652;
$blue: #2ABFCB;
$sandy-yellow: #F6E0AD;
$light-sandy-yellow: #FEF2DA;


body {
	background-color: lighten( $light-sandy-yellow, 3% );
}

#header {
	margin-top: 150px;
	@include outer-container;
	#primal-logo {
		@include span-columns(6);
		@include shift(3);
	}
}